body{
    background-color: #EEE;
    background-image: url(../img/bg-pattern.png);
    padding: 0px;
    overflow: hidden;
    margin-left: 0;
}
input{
    background-color:transparent;
}
#appContainer {height: 100%;width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.containerHeader {
    position: absolute;
    height: 40px;
    border-bottom: 1px solid black;
    background-color: rgba(0,0,0,0.1);
}
.containerBody {
    height: -webkit-calc(100%);
}
.header{

    position: absolute;
    top:0px;
    right: 10px;
    /*    width: 200px;*/
    height: 25px;
    background-color: transparent;
    /*    background-image: -webkit-gradient(linear,left bottom,left top,from(white),to(steelblue));*/
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px 5px;
    box-shadow: 0px 0px 8px black;
    z-index: 999;

}
.panel1{
    border: 1px solid #100;
    background-color: #EEE;
    -webkit-box-shadow:0px 0px 10px 2px #CCC;
    /*-moz-box-shadow:0px 0px 5px #100;*/
    /*-webkit-border-radius:10px;*/
    -moz-border-radius:10px;
    opacity:0.9;

}
.header-item{
    float: right;
    line-height: 25px;
    padding: 0 8px;
    cursor: pointer;
}
.header-item:hover{
    /*    box-shadow: 0px 0px 20px blue;*/
    background-color: black;
    color:white;
}
.grap-right{
    border-right: 1px groove #CCC;

}
#message-box{

    position: absolute;
    background-color: cornflowerblue;
    /*display: none;*/
    opacity:0.8;
    min-height: 30px;
    min-width: 60px;
    color: white;
    line-height: 30px;
    border-radius:6px;
    z-index: 999;
    -webkit-transition: top 0.2s, left 0.2s;
}
#message-box .message-content{

    position: relative;
    padding: 0px 10px;

}

#alert-box{

    position: absolute;
    background-color: black;
    opacity:0.9;
    display: none;
    min-height: 100px;
    min-width: 300px;
    color: white;
    line-height: 30px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border: 1px solid #CCC;
    -webkit-box-shadow:0px 0px 10px black;
    -moz-box-shadow:0px 0px 10px black;
    z-index: 999;
  opacity:0.8;
}
#alert-box .alert-content{

    position: relative;
    padding: 0px 10px;

}
#fileView .fs-icon-back {top: 45px;}
#preview-frame {border: 0;outline: 0;padding: 0;margin: 0;width: 100%;height: 100%;position: relative;display: block;z-index: -1;}
#previewContainer {width: -webkit-calc(100% - 30px);height: -webkit-calc(100% - 30px);
    left: 15px;position: absolute;top: 15px;background-color: white;z-index: 9999;}

#mapEditingContainer {
    width: 100%;height: 100%;
    box-shadow: inset 0 0 20px 5px rgba(0,0,0,0.3);border: 0;
    left: 0;position: absolute;top: 0;background-color: #D7D7D7;z-index: 9999;border-radius: 0;
    overflow: hidden;background-image: url(../img/bg-pattern.png);
}
#mapEditingContainer .close-menu {top:0;right: 0;}
#mapEditingContainer .impressContainer {position: absolute;width: 100%;height: 100%;left: 0;top: 0;-webkit-transform-origin: 0 0;overflow: visible;}
#mapEditingContainer .step {box-shadow: 0 0 6px 0 black;}
#mapEditingContainer .confirm-btn{
    background: url(../img/confir_btn.png);height: 60px;width: 60px;position: absolute;
    bottom: 10px;right: 10px;cursor: pointer;background-size:60px;border-radius: 10px;}
#mapEditingContainer .confirm-btn:hover {box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);}
#mapEditingContainer .reset-btn {
    background: url(../img/reset_btn.png);height: 60px;width: 60px;position: absolute;
    bottom: 80px;right: 10px;cursor: pointer;background-size:60px;border-radius: 10px;
}
#mapEditingContainer .reset-btn:hover {box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);}
.dp-none {display: none!important;}
/**清除浮动**/
.cf:before, .cf:after {content:"";display:table;}
.cf:after {clear:both;}
.cf {zoom:1;}
.video-play {
    background-image: url(../img/video_play.png);background-repeat: no-repeat;
    background-size: 30%;background-position: center;-webkit-transform-origin: 0 0;}
.w0 {width: 0px!important;}
.transition-w {-webkit-transition:width 0.3s;}
.transition-h {-webkit-transition:height 0.3s;}
.transition-l {-webkit-transition:margin-left 0.3s;}
.transition-r {-webkit-transition:margin-right 0.3s;}
.transition-t {-webkit-transition:top 0.3s;}
.transition-b {-webkit-transition:bottom 0.3s;}
.l-tb {margin-left: -68px!important;}
.l-sb {margin-right: -68px!important;}
.box {border: 1px solid;border-radius: 5px;background: white;height: 25px;}
.w-auto {width: auto;}
.on {box-shadow: inset 0 0 10px 2px cornflowerblue!important;}
.op-full {opacity: 1;}
.flb-box {display: -webkit-box;}
.flb-p1 {-webkit-box-flex:1;}
/*.cursor-mb{cursor: url(../img/paintingboard/maobi.png), auto;}
.cursor-init{cursor: initial;}
.cursor-er{cursor: url(../img/paintingboard/eraser.png), auto;}*/
/*.allow {background-image: url(../img/right.png);background-repeat: no-repeat;background-position: 100% 50%;background-size: 35px;}*/
