#toolbar{
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 700;
    height: -webkit-calc(100% - 15px);
    border-right: 1px solid rgba(0,0,0,1);
    background-color: rgba(0,0,0,0.1);
    padding: 0  15px;
    padding-top: 15px;

}
#tool-buttons{

    /*position: relative;*/
    /*float: left;*/
    /*width: 80px;*/
    /*height: 100%;*/
    /*padding-bottom: 10px;*/
    
    /*padding: 5px 15px;*/
    /*padding-right: 35px;*/
    /*-webkit-box-shadow:3px 0px 8px #BBB;*/
    /*-webkit-border-top-right-radius:10px;*/
    /*-webkit-border-bottom-right-radius:10px;*/
    /*box-shadow:5px 0px 5px #BBB;*/
}
#tool-operation{

    position: absolute;
    width:120px;
    left: 80px;
    /*background-color: #100;*/
    /*display: none;*/
    /*-webkit-box-shadow:0px 0px 10px #100;*/
    /*border-radius:10px;*/
    /*border-radius:10px;*/
    opacity:0.9;
    /*color: white;*/
    padding: 10px 0px;
    z-index: 800;

}
/*#tool-operation:before{
    content: "";
    position: absolute;
    border: 15px solid transparent;
    border-right: 15px solid black;

    left: -30px;
    top: 38px;
    z-index: 1;


}*/
.tool-app-items{
    padding: 20px 0;    
}
.operation-item{
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    padding-left: 20px;
    font-size: 13px;
    /*background-color: cornflowerblue;*/
}
.operation-item:hover{
    /*background-color: #EEE;*/
    color:black;
    border-radius: 10px;
    border-right: 1px solid;
    border-left: 1px solid;
    /*text-align: center;*/
    /*box-shadow: 0 0 10px 2px #EEE;*/
    -webkit-transform:scale(1.2);
    /*box-shadow: inset 0px 0px 10px cornflowerblue;*/
    /*    -webkit-box-shadow:0px 0px 10px white;*/
}
.tool-app{
    position: relative;
    width: 50px;
    height: 50px;
    -webkit-border-radius:10px;
    /*-webkit-box-shadow:0px 0px 10px 1px #EEE;*/
    border: 1px solid black;
    background-color: white;
    /*margin: auto;*/
    margin-top: 10px;
    cursor: pointer;
    background-position: center;
    background-size: 60px 60px;
    background-repeat: no-repeat;
}
.tool-app:hover{
    /*-webkit-box-shadow:0px 0px 10px black;*/
    -webkit-transform:scale(1.2);
}
.tool-app input{
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    opacity:0;
    cursor: pointer;
}
#tool-enterPreviewMode{
    background-image: url(../img/saving.png);
}
#tool-addimage{
    background-image: url(../img/addImage.png);
}
#tool-addtext{
    background-image: url(../img/text-editor.png);
}
#tool-elemOperation{
    background-image: url(../img/settings.png);
}
#tool-addAnimation{
    background-image: url(../img/animate.png);
}
#tool-addslider{
    background-image: url(../img/addSlider.png);
}
#tool-insertSlider{
    background-image: url(../img/insertSlider.png);
}
#tool-deleteSlider{
    background-image: url(../img/delSlider.png);
}
#tool-import {
    background-image: url(../img/downloader.png);
}
#tool-openFileSystem {
    background-image: url(../img/folder.png);
}
.show_execCommandDetail{
    background-image: url(../img/text-edit.png);
}
#tool-screen {background-image: url(../img/screen.png);}
#tool-addVideo {background-image: url(../img/video.png);}
#tool-addCode {background-image: url(../img/code.png);}
#tool-help {background-image: url(../img/help.png);}
#tool-play {background-image: url(../img/play.png);}
#tool-mapEditing {background-image: url(../img/mapEditing.png);}